name: Roaster Windows Build

trigger:
- master

pool:
  demands:
  - Agent.OS -equals Windows_NT

stages:
- stage: version
  jobs:
    - job: versioning
      steps:
        - powershell: |
            $versionPrefix = 'v'
            $rawVersion = git describe --long --match ($versionPrefix+'*')

            $time    = (Get-Date).ToUniversalTime().ToString("yyyyMMddHHmmss")
            $iter    = $rawVersion.split('-')[-2]
            $hash    = $rawVersion.split('-')[-1]
            $tag     = $rawVersion.split('-')[0].split('/')[-1]

            # NuGet drops some trailing zero.
            $nullable_iter = '.' + $iter
            if ($iter -eq '0')
            {
                $nullable_iter = ''
            }

            $full_version = $tag.TrimStart($versionPrefix) + $nullable_iter + '-T' + $time + $hash
            Write-Host "Generate version $full_version"
            Write-Host "##vso[build.updatebuildnumber]$full_version"
          displayName: "Set build number"

- stage: prep
  dependsOn: version
  jobs:
    - job: build
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          stage_name: vsbuildtools,cmake
          packages: none

    - job: tool
      dependsOn: build
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          stage_name: zlib,openssl,c-ares,curl
          packages: zlib,openssl,c-ares

    - job: gpu
      dependsOn: tool
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          stage_name: cuda,cudnn,tensorrt
          packages: cu*,tensorrt

    - job: mkl
      dependsOn: gpu
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          stage_name: intel,mklml
          packages: mkl,mkl-dev,mklml

- stage: build
  dependsOn: prep
  jobs:
    - job: env
      steps:
      - powershell: |
          ${Env:PATH}=[System.Environment]::GetEnvironmentVariable("PATH","Machine")

          cmake --version
          nvcc -V
          python -V

    - job: freetype_1
      continueOnError: 'true'
      dependsOn: env
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          stage_name: freetype
          packages: none

    - job: harfbuzz
      dependsOn: freetype_1
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          packages: none

    - job: freetype_2
      dependsOn: harfbuzz
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          stage_name: freetype

    - job: boost
      timeoutInMinutes: "240"
      dependsOn: freetype_2
      steps:
      - template: azure-pipelines/build_stage.windows.yml

    - job: jsoncpp
      dependsOn: boost
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          packages: jsoncpp*

    - job: utf8proc
      dependsOn: jsoncpp
      steps:
      - template: azure-pipelines/build_stage.windows.yml

    - job: eigen
      dependsOn: utf8proc
      steps:
      - template: azure-pipelines/build_stage.windows.yml

    - job: pybind11
      dependsOn: eigen
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          packages: none

    - job: mkl_dnn
      dependsOn: pybind11
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          stage_name: mkl-dnn
          packages: mkldnn

    - job: gflags
      dependsOn: mkl_dnn
      steps:
      - template: azure-pipelines/build_stage.windows.yml

    - job: glog
      dependsOn: gflags
      steps:
      - template: azure-pipelines/build_stage.windows.yml

    - job: gtest
      dependsOn: glog
      steps:
      - template: azure-pipelines/build_stage.windows.yml

    - job: benchmark
      dependsOn: gtest
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          packages: none

    - job: snappy
      dependsOn: benchmark
      steps:
      - template: azure-pipelines/build_stage.windows.yml

    - job: protobuf
      dependsOn: snappy
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          packages: protobuf*

    - job: grpc
      dependsOn: protobuf
      steps:
      - template: azure-pipelines/build_stage.windows.yml

    - job: opencv
      dependsOn: grpc
      timeoutInMinutes: "720"
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          packages: opencv*

    - job: rocksdb
      dependsOn: opencv
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          packages: rocksdb*

    - job: onnx
      dependsOn: rocksdb
      steps:
      - template: azure-pipelines/build_stage.windows.yml

    - job: ort
      dependsOn: onnx
      timeoutInMinutes: "720"
      steps:
      - template: azure-pipelines/build_stage.windows.yml
        parameters:
          packages: ort*
