[Unit]
Description=Apt repo mirroring [apt-mirror] daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStartPre=/bin/sh -c 'curl --retry 10 --retry-all-errors -sSL "https://developer.download.nvidia.com/compute/cuda/repos/debian11/x86_64/3bf863cc.pub" | gpg --no-default-keyring --keyring debmirror.kbx --import'
ExecStartPre=/bin/sh -c 'curl --retry 10 --retry-all-errors -sSL "https://developer.download.nvidia.com/compute/cuda/repos/debian11/x86_64/7fa2af80.pub" | gpg --no-default-keyring --keyring debmirror.kbx --import'
ExecStart=apt-mirror
Restart=on-failure
RestartPreventExitStatus=SIGHUP SIGINT SIGQUIT SIGILL SIGTRAP SIGABRT SIGBUS SIGFPE SIGKILL SIGSEGV SIGTERM SIGSTKFLT SIGXFSZ SIGPWR SIGSYS
StartLimitBurst=3
StartLimitIntervalSec=30s
User=root
