[Unit]
Description=Ubuntu apt repo mirroring [debmirror] timer
After=network-online.target
Wants=network-online.target

[Timer]
OnCalendar=*-*-* 02:30:00
# OnCalendar=hourly
# OnCalendar=weekly
Unit=debmirror-ubuntu.service

[Install]
WantedBy=multi-user.target
