[Unit]
Description=Docker Ubuntu apt repo mirroring [debmirror] daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStartPre=/bin/sh -c 'curl --retry 10 --retry-all-errors -sSL "https://download.docker.com/linux/ubuntu/gpg" | gpg --no-default-keyring --keyring debmirror.kbx --import'
ExecStart=debmirror --arch=amd64 --dist=bionic,focal,jammy --getcontents --host=download.docker.com --i18n --keyring=debmirror.kbx --method=https --progress --root=linux/ubuntu --rsync-extra=none --section=edge,nightly,stable,test --verbose /Latte/Mirrors/docker/linux/ubuntu
User=root
