[Unit]
Description=Apt repo mirroring [debmirror] timer
After=network-online.target
Wants=network-online.target

[Timer]
OnCalendar=*-*-* 01:30:00
# OnCalendar=hourly
# OnCalendar=weekly
Unit=debmirror.service

[Install]
WantedBy=multi-user.target
