[Unit]
Description=Ubuntu apt repo mirroring [debmirror] daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStartPre=sh -c 'gpg --no-default-keyring --keyring debmirror.kbx --keyserver keyserver.ubuntu.com --recv-keys 0x3B4FE6ACC0B21F32 0xD94AA3F0EFE21092 0x871920D1991BC93C'
ExecStart=debmirror --arch=amd64 --dist=bionic,bionic-backports,bionic-proposed,bionic-security,bionic-updates,focal,focal-backports,focal-proposed,focal-security,focal-updates --getcontents --host=archive.ubuntu.com --i18n --keyring=debmirror.kbx --method=rsync --progress --root=ubuntu --rsync-extra=none --section=main,restricted,universe,multiverse --verbose /Latte/Mirrors/ubuntu
# ExecStart=debmirror --arch=amd64 --dist=bionic,bionic-backports,bionic-proposed,bionic-security,bionic-updates,focal,focal-backports,focal-proposed,focal-security,focal-updates --getcontents --host=mirrors.tuna.tsinghua.edu.cn --i18n --keyring=debmirror.kbx --method=https --progress --root=ubuntu --rsync-extra=none --section=main,restricted,universe,multiverse --verbose /Latte/Mirrors/ubuntu
# ExecStart=debmirror --arch=amd64 --dist=bionic,bionic-backports,bionic-proposed,bionic-security,bionic-updates,focal,focal-backports,focal-proposed,focal-security,focal-updates --getcontents --host=mirrors.ustc.edu.cn --i18n --keyring=debmirror.kbx --method=https --progress --root=ubuntu --rsync-extra=none --section=main,restricted,universe,multiverse --verbose /Latte/Mirrors/ubuntu
User=root
