[Unit]
Description=Debian repo mirroring daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStartPre=[ -e '/etc/ftpsync/debian.conf' ]
ExecStartPre=mkdir -p '/var/run/ftpsync/alias'
ExecStartPre=/bin/sh -c 'set -e; [ -e "/var/run/ftpsync/alias/debian" ] || ln -s "$(which ftpsync)" "/var/run/ftpsync/alias/debian"'
ExecStart=/var/run/ftpsync/alias/debian
Restart=on-failure
RestartPreventExitStatus=SIGHUP SIGINT SIGQUIT SIGILL SIGTRAP SIGABRT SIGBUS SIGFPE SIGKILL SIGSEGV SIGTERM SIGSTKFLT SIGXFSZ SIGPWR SIGSYS
StartLimitBurst=3
StartLimitIntervalSec=30s
User=root
