[Unit]
Description=Debian repo mirroring daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStart=ftpsync
User=root
