[Unit]
Description=Debian repo mirroring daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStartPre=[ -e '/etc/ftpsync/debian-security.conf' ]
ExecStartPre=mkdir -p /var/run/ftpsync/alias
ExecStartPre=/bin/sh -c 'set -e; [ -e "/var/run/ftpsync/alias/debian-security" ] || ln -s "$(which ftpsync)" "/var/run/ftpsync/alias/debian-security"'
ExecStart=/var/run/ftpsync/alias/debian-security
User=root
