[Unit]
Description=Debian repo mirroring timer
After=network-online.target
Wants=network-online.target

[Timer]
OnCalendar=*-*-* 01/12:40:00
# OnCalendar=hourly
# OnCalendar=weekly
Unit=ftpsync-debian.service

[Install]
WantedBy=multi-user.target
