[Unit]
Description=IPMI local monitoring
After=openipmi.service
Requisite=openipmi.service

[Service]
Type=exec
ExecStartPre=/bin/sh -c 'set -e; [ -d "/dev" ]'
ExecStartPre=/bin/sh -c 'set -e; [ -e "/dev/ipmi0" ]'
ExecStartPre=/bin/sh -c 'set -e; which ipmitool >/dev/null'
ExecStart=/bin/sh -c 'set -e; date +"%%Y-%%m-%%d %%H:%%M:%%S %%Z"; ipmitool sensor;'
TimeoutStartSec=20s
User=root
