[Unit]
Description=NVMe patrol read daemon
After=multi-user.target
Wants=multi-user.target

[Service]
Type=exec
StandardError=tty
ExecStartPre=[ -d '/dev' ]
ExecStartPre=[ -e '/dev/nvme0' ]
ExecStartPre=[ -e '/dev/nvme0n1' ]
ExecStartPre=which dd
ExecStartPre=which grep
ExecStartPre=which sed
ExecStart=sh -c 'set -e; time dd if=/dev/nvme0n1 of=/dev/null bs=8MiB status=progress conv=nocreat,noerror,notrunc iflag=direct,nonblock 2>&1 | tee -a /dev/stderr | grep -i "error reading" | wc -l | sed "s/[[:space:]]//g" | tee -a /dev/stderr | grep "^0$"'
User=root
